@charset "utf-8";

.my_image {
	width: 500px;
	height: 500px;
	display: block;
	margin: auto;
}

.welcome {
	max-width: 600px;
	display: block;
	overflow: hidden; /*超出隐藏*/
	white-space: nowrap; /*强制不换行*/
	margin: auto;
	font-size: 42px;
	font-weight: bold;
}